<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="FilePath_ValidData" value="c:\Temp\RunbeckExercise_JayWarner\ValidData.txt"/>
    <add key ="FilePath_InValidData" value="c:\Temp\RunbeckExercise_JayWarner\InvalidData.txt"/>

    <add key ="RequestForHelpKey" value= "?"/>
    <add key ="RequetToExitKey" value= "Q"/>
    <add key ="RequestToRestartKey" value= "R"/>

    <add key="MessageHelpExitRestart" value="(enter {0} for help, {1} to exit, {2} to restart)"/>
    <add key ="MessageWelcome" value= "Welcome to the Runbeck File Processor"/>
    <add key ="MessageGoodbye" value= "Thanks for using the Runbeck File Processor"/>
    <add key ="MessageAnyKey" value= "Please select any key"/>
    <add key ="MessageHelpTip" value = "Help Tip!"/>
    <add key ="MessageEmptyFile" value="No data found to process... no files created"/>
    <add key ="MessageProcessingComplete" value="File Processing has completed succesfully"/>
    <add key="MessageOutputLocation" value="The output files can be found at: "/>
    <add key ="MessageError" value = "Hmmm... That seems incorrect"/>
    <add key ="MessageErrorUnexpected" value = "An unexpected error occurred... "/>

    <add key ="PromptFileLocation" value = "Please enter where the file is located:"/>
    <add key ="PromptFileLocationHelp" value= "Please enter in the format of: Drive:\directory\filename.extention (e.g. c:\MyDocuments\MyFiles\Data.txt)"/>

    <add key ="PromptFileDelimiter" value = "Please enter the file format CSV (comma-separated values) or TSV (tab-separated values):"/>
    <add key ="PromptFileDelimiterHelp" value = "Enter CSV for comma-separated values or TSV for tab-separated values"/>

    <add key ="PromptFieldCount" value = "Please enter how many fields each record should contain:"/>
    <add key ="PromptFieldCountHelp" value ="Please enter a numeric value for the Field Count"/>    
  </appSettings>
</configuration>